<form method="post" action="{{ path('app_posts_delete', {'id': post.id}) }}" onsubmit="return confirm('¿Estas seguro de eliminar este post?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
